<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.meta.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        position: relative;
      }
      body > div {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
      }
      #modal-root,
      #modal-root > div {
        display: flex;
      }
      #modal-root > div {
        width: 100%;
        height: 100vh;
        z-index: 1;
        background-color: #0006;
        align-items: center;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.gtag %>" 
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {  dataLayer.push(arguments); }
        gtag("js", new Date());
        gtag("config", "<%= htmlWebpackPlugin.options.gtag %>");
    </script>
  </head>

  <body>
    <div id="root"></div>
    <div id="modal-root"></div>
    <script src="https://cdn.jsdelivr.net/npm/dialog-polyfill@0.5.6/dist/dialog-polyfill.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
